<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

<head>
    <title>Bus Information</title>
    <meta http-equiv="refresh" content="30"/>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <h2>Bus Information</h2>
    <table class="rowStyle" style="margin-top: 30px">
        <tr class="header">
            <td colspan="2" th:text="${busInfo.getBusStation().getStationName()}" class="left"></td>
            <td th:text="${busInfo.getBusStation().getServerTime()}" class="right"></td>
        </tr>
        <tr th:each="prediction : ${busInfo.getBusStation().getNextBusPredictions()}"
            class="rowStyle">
            <td th:text="${prediction.getLineName()}" class="left"></td>
            <td th:text="${prediction.getDestinationName()}" class="left"></td>
            <td th:text="${prediction.getTimeToStationMinutes()}" class="right"></td>
        </tr>
    </table>
</div>
</body>
</html>