<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

<head>
    <title>Bus Information</title>
    <meta http-equiv="refresh" content="30"/>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <h2>Bus Information</h2>
    <div th:each="busStation: ${busInfo.busStationList}" style="margin-top: 30px">
        <table class="rowStyle">
            <tr class="header">
                <td colspan="2" th:text="${busStation.getStationName()}" class="left"></td>
                <td th:text="${busStation.getServerTime()}" class="right"></td>
            </tr>
            <tr th:each="prediction : ${busStation.getNextBusPredictions()}"
                class="rowStyle">
                <td th:text="${prediction.getLineName()}" class="left"></td>
                <td th:text="${prediction.getDestinationName()}" class="left"></td>
                <td th:text="${prediction.getTimeToStationMinutes()}" class="right"></td>
            </tr>
        </table>
    </div>
</div>
</div>
</body>
</html>